.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2.5px;
  border-radius: 2.5px;
  background-color: var(--deep-charcoal);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

.header_menu nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (width < 800px) {
  .menu {
    display: none;
  }
  .logo {
    flex: 0 0 50vw;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
    flex: 0 0 auto;
    margin: 0 20px;
  }
}

nav.active .menu {
  display: block;
  position: absolute;
  top: 95px;
  right: 0;
  left: auto;
  width: clamp(200px, 50vw, 400px);
  z-index: 1;
  opacity: 0.8;
  background-color: var(--champagne);
  border-radius: 10px;
}
header > nav li > a:after {
  content: none;
}
nav.active .menu li {
  margin: 5px 5px;
}
nav.active .menu a {
  font-size: 15px;
}

nav.active .menu a:hover {
  color: var(--burnt-sienna);
  text-decoration: none;
}

/*TILFØJ CLOSE PÅ BURGER-MENU, NÅR UDTRUKKET VED AT TRYKKE ELSEWHERE*/
