/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*FARVER OG FONTE*/

:root {
  /* Farver */
  --deep-charcoal: #2c2c2c; /*font-farve*/
  --soft-ivory: #f5f3ef; /* background */
  --warm-taupe: #a89f91;
  --burnt-sienna: #915a3c;
  --dark-brown: #5c4631;
  --champagne: #d1a160;

  /* fonte */
  /* --font: "helvetica neue", arial, sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-style-italic: italic; */

  /* font size */
  /*  --h1-size: 2.25rem;
  --h2-size: 1.25rem;
  --h3-size: 1.5rem;
  --h4-size: 1rem;
  --h5-size: 0.75rem;
  --p-size: 1rem; */
}

/* GENERALLE REGLER */
.body {
  background-color: var(--soft-ivory);
  color: var(--deep-charcoal);
}

.body_404 {
  background-color: var(--warm-taupe);
}

/* Overskrift */

.tema_overskrifter {
  display: grid;
  place-content: center;
  padding: 1rem;
  text-align: center;
}
