/*OM MIG PAGE*/

.grid_om_mig {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 20px;
}

.grid_om_mig img {
  height: 400px;
  width: auto;
  border-radius: 50%;
  box-shadow: 3.5px 2px 2px var(--deep-charcoal);
}

.grid_om_mig p {
  font-weight: bold;
  padding: 20px;
  line-height: 27px;
}

.grid_sprog-land {
  display: flex;
  padding-top: 20px;
}

.grid_sprog-land p {
  line-height: 27px;
}

section h3 {
  padding: 20px;
  background-color: var(--nyfarve);
}

.grid_symboler {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.grid_symboler img {
  height: 80px;
  width: auto;
  margin: 0 auto;
  padding-top: 15px;
  gap: 5px;
}

/* .grid_om_mig_ h3 {
  margin: 0 auto;
} */

/* .grid_om_mig-1 {
  place-content: center;
} */

/* MOBILESITE, MEDIAQ, OM-MIG */

@media (max-width: 600px) {
  .grid_om_mig {
    grid-template-columns: 1fr; /* én kolonne */
    padding: 10px;
    gap: 20px;
    text-align: center;
  }

  .grid_om_mig img {
    height: 250px; /* mindre billede på mobil */
    width: auto;
    margin: 0 auto;
    justify-content: center;
  }

  .grid_om_mig p {
    padding: 5px 0;
    font-size: 1rem;
  }

  .grid_sprog-land {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section h3 {
    padding: 15px;
    text-align: center;
  }

  .grid_symboler {
    justify-content: center;
    /* gap: 10px; */
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  .grid_symboler img {
    height: 60px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    place-items: center;
  }

  .grid_om_mig-1 {
    place-content: center; /* venstre giver sjældent mening på mobil */
  }
}
