/*OM MIG PAGE*/

.grid_om_mig {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 20px;
}

.grid_om_mig img {
  height: 200px;
  width: auto;
  box-shadow: 3.5px 2px 2px var(--deep-charcoal);
}

.grid_om_mig p {
  font-weight: bold;
  padding: 10px;
}

section h3 {
  padding: 20px;
  background-color: var(--nyfarve);
}

.grid_symboler {
  display: flex;
  flex-wrap: wrap;

  width: auto;
  padding: 1px;
  /*   column-gap: 10px; */
}

.grid_symboler img {
  height: 80px;
  width: auto;
  margin: 0 auto;
}
