/* TEMA 5 */

.grid_tema5 img {
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 5px rgb(28, 19, 8);
  margin: 0 auto;
  padding: 10px;
}

/*Forsøg på genskabelse af galleri*/

.grid_tema5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--champagne);
}

.grid_tema5 p {
  color: white;
  padding: 20px;
}

.grid_tema5_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 20px;
  margin-top: 10px;
  column-gap: 50px;
}
