/* TEMA 4 */

.grid_tema4 img {
  height: 150px;
  width: auto;
  place-content: center;
}

.grid_tema4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin: 0 auto;
  padding: 20px;
}

.grid_tema4 h5 {
  background-color: var(--nyfarve);
}

.grid_tema4_2 h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--nyfarve);
}

.grid_tema4_2 p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* max-width: ; */
  max-height: 300px;
}

/* MOBILESITE, MEDIAQ */

@media (max-width: 800px) {
  /* GRID – fra 4 kolonner → 1 kolonne */
  .grid_tema4 {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
  }

  /* BILLEDER */
  .grid_tema4 img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  /* OVERSKRIFTER */
  .grid_tema4_2 h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  /* TEKST – fra 2 kolonner → 1 kolonne */
  .grid_tema4_2 p {
    grid-template-columns: 1fr;
    max-height: none;
    line-height: 1.5;
    padding: 0.5rem 0;
  }
}
