/* TEMA 3 */

/* GRID 3-3-3 */

.grid_3-3-3 {
  padding: 30px;
}

.grid_tema3 img {
  height: 200px;
  width: auto;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.grid_3-3-3 p {
  padding-top: 0.5rem;
  background-color: var(--nyfarve);
  max-height: 100vh;
  max-width: 65ch;
  line-height: 25px;
}

/* Accordian fold-out */

summary::after {
  content: "↓";
  margin-left: 1rem;
}

[open] summary::after {
  content: "x";
}

summary {
  cursor: pointer;
}

.folud h2,
p {
  padding-top: 16px;
  padding-bottom: 8px;
}

.accordian .cta_btn {
  margin-top: 10px;
  background-color: var(--warm-taupe);
  padding: 10px;
  border-radius: 15px;
  max-width: 200px;
  place-items: center;
}

/* Tekst og billeder inde i accordian */

.img_class {
  display: flex;
  flex-direction: wrap;
  column-gap: 3px;
}

/* MOBILESITE, MEDIAQ, TEMA 3 */

@media (max-width: 600px) {
  /* GRID WRAPPER */
  .grid_3-3-3 {
    padding: 16px;
  }

  /* BILLEDER */
  .grid_tema3 img {
    width: 100%;
    height: auto;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  /* TEKST */
  .grid_3-3-3 p {
    max-width: 100%;
    line-height: 22px;
    padding: 13px;
  }

  /* ACCORDION */
  summary {
    font-size: 16px;
    padding: 8px 0;
  }

  .accordian .cta_btn {
    max-width: 100%;
    padding: 8px 16px;
    font-size: 14px;
  }

  /* BILLEDER + TEKST INDE I ACCORDION */
  .img_class {
    flex-direction: column;
    gap: 16px;
  }

  /* Hvis du senere tilføjer grids i accordion */
  .grid_1fr_2fr {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  /* Forside-billede i accordion */
  .grid_1fr_2fr .img_forside {
    max-width: 100%;
    margin-top: 10px;
  }
}
