/* TEMA 2 SITE */

/* Grid 1-3 */

.grid_tema2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  margin: 0 auto;
}

.grid_tema2 img {
  height: 200px;
  width: auto;
}

.grid_1-3 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.grid_3-3 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.grid_1-3 img,
.grid_3-3 img {
  order: -1;
  /*Tilføj order på mellemboksen for modsat billede/tekst*/
}

.grid_1-3,
.grid_2-3,
.grid_3-3 {
  display: grid;
  list-style: inside;
  background-color: rgba(208, 185, 130, 0.925);
  border-radius: 5%;
  width: 600px;
  height: auto;
  padding: 10px;
}

/* ......POP-OVER..... */

/* Pop over design */

.news_card {
  /* background-color: red;*/
  display: grid;
  grid-template-rows: repeat(min-content);
  gap: 0.4rem;
  padding: 1rem 0;
  height: minmax(300px, min-content);
}

/* Pop over knap-design */

.cta_btn {
  color: var(--deep-charcoal);
  background-color: var(--nyfarve); /*baggrundsfarve*/
  padding: 0.3rem;
  margin: 0.5rem;
  max-height: 100vh;
  max-width: 20ch;
  border-radius: 10px;
}

/* Popover regler for baggrundsblur osv*/

[popover]::backdrop {
  backdrop-filter: blur(2px);
}

[popover]:popover-open {
  display: inline;
  margin: 0 auto;
  background-color: rgb(235, 235, 41); /*Baggrundsfarve popover-boks*/
  padding: 2rem;
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
}

[popover]:popover-open img {
  display: grid;
  height: 100px;
  width: auto;
}
