/* TEMA 5 */

.grid_tema5 img {
  height: 150px;
  width: auto;
}

/*Forsøg på genskabelse af galleri*/

.grid_tema5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.box_4 {
  grid-column: 1/2;
  grid-row: 3 / 3;
}

.box_1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.box_3 {
  grid-column: 2/2;
  grid-row: 3/3;
}

.box_2 {
  grid-column: 1/3;
}

.box_6 {
  grid-column: 1 / 3;
  grid-row: 5/5;
}

.box_5 {
  grid-column: 1/3;
}
