/* TEMA 5 */

.grid_tema5 img {
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 5px rgb(28, 19, 8);
  margin: 0 auto;
  padding: 10px;
}

/*Forsøg på genskabelse af galleri*/

.grid_tema5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgb(208, 64, 64);
}

.grid_tema5 p {
  color: white;
  padding: 20px;
}

/* .box_1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.box_2 {
  grid-column: 1/3;
}

.box_3 {
  grid-column: 2/2;
  grid-row: 3/3;
}

.box_4 {
  grid-column: 1/2;
  grid-row: 3 / 3;
}

.box_5 {
  grid-column: 1/3;
}

.box_6 {
  grid-column: 1 / 3;
  grid-row: 5/5;
}
 */

/* Tekst grid */

.grid_tema5_2 {
  /*   display: inline;
  max-width: 100%; */
}
