/* TEMA 4 */

.grid_tema4 img {
  height: 150px;
  width: auto;
  place-content: center;
}

.grid_tema4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 50px;
  margin: 0 auto;
  padding: 20px;
}

.grid_tema4_2 {
  padding: 20px;
}

.grid_tema4 h5 {
  background-color: var(--nyfarve);
}

.grid_tema4_2 h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--nyfarve);
}

.grid_tema4_2 p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* max-width: ; */
  max-height: 300px;
}
